.menu {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

.menu:hover {
  border-bottom: 1.5px solid rgba(0, 174, 255);
}

.menu-container {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo-lista {
  display: flex;
  align-items: center;
}

.menu-logo-img {
  margin: 28px 0;
}

.menu-lista {
  margin-left: 112.3px;
  display: flex;
  gap: 34px;
}

.menu-lista li {
  list-style: none;
  display: flex;
  gap: 14px;
}

.menu-lista li a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
}

.menu-lista li a:hover {
  color: #00aeff;
}

.menu-btn-login {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-btn-login button {
  width: 112px;
  height: 41px;
}

.menu-btn-login a {
  text-decoration: none;
}

.btn-create-login {
  background: transparent;
  border: 0.788462px solid #ffffff;
  border-radius: 3.15385px;
}

.btn-create-login:hover {
  background: #00aeff;
}

.menu-btn-login a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: #ffffff;
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.31px;

  background: #00aeff;
  border-radius: 3.15385px;

  border: 0.788462px solid transparent;
}

.btn-login a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: #ffffff;
}
