@import "./header.css";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.hero {
  background-image: url("../.././public/assets/img-hero/hero_1.png");
  background-repeat: no-repeat;
  background-size: cover;

  mix-blend-mode: multiply;
}

.hero-conteudo {
  height: 736px;
}
